@-webkit-keyframes rotateLoading
{
	from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes rotateLoading
{
	from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.xtm-wait {
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.xtm-spinner-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.xtm-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateZ(0);
    animation: rotateLoading 1.1s infinite linear;
    margin: -15px auto 0 -15px;
    border-top: 1px solid rgba(12,172,248,.2);
    border-right: 1px solid rgba(12,172,248,.2);
    border-bottom: 1px solid rgba(12,172,248,.2);
    border-left: 1px solid #0cacf8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-indent: -9999em;
}
.xtm-rubber {
	pointer-events:none;
	position : absolute;
	border : 1px solid #a2a2a2;  
	border-radius:3px;            
	z-index : 20000;
}
.xtm-chart {
	position : fixed;
	z-index : 30000;
	pointer-events:none;
	background-color:#FFF;
	padding:2px 2px;
	border : 1px solid #a2a2a2;
	border-radius:3px;
	direction:ltr;
}   
.xtm-pinchart {
    position : absolute;
    z-index : 25000;            
    background-color:#FFF;
    border : 1px solid #a2a2a2;
    border-radius:3px; 
}
.xtm-tip 
{
    visibility:hidden;
    position : fixed;
    background-color:#07243c;
    color:#fff;
    text-align:center;
    padding:2px 4px;
    margin-top:1px;
    border-radius:3px;
    z-index : 30000;
    transition:opacity .6s;
    opacity:0;
    font-family:Arial,sans-serif;
    font-size:9px;
    pointer-events:none;
    white-space:nowrap;	
    direction:ltr;
}
.xtm-help
{
	background-color:#efef0d;
	color:#000;
	direction:ltr;
}
.xtm-help:hover 
{
	box-shadow: 0 0 0.46875rem #3578a7 !important;
}
.xtm-stopper
{
	font-size:10px;
	cursor: pointer;
	pointer-events:auto;
	direction:ltr;
}
